.h1 {
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1-container {
    padding: 0 0 20px 0;
}

.h2-container {
    padding: 0 0 20px 0;
}

.h2 {
    font-size: 1.5em;
    font-weight: bold;
}

/* -- tooltip-- */
.MuiTooltip-tooltip {
    background-color: transparent !important;
    font-size: 14px !important;
    color: rgb(200, 200, 200) !important;
    padding: 0 !important;
    margin: -5px 10px 0 0 !important;
}

/* -- Taps & TapPanel userManagement & groups -- */
.user-form-container {
    height: 400px;
    overflow-y: auto;
}

.tab-container {
    background-color: #282c34;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tab-icon {
    color: rgb(153, 153, 153);
    margin-right: 20px;
    cursor: pointer;
}

.tab-icon:hover {
    color: white;
}

.user-tabs {
    gap: 50px !important;
}

.MuiTabs-flexContainer {
    gap: 5px !important;
    background-color: #2c3038;
    border-radius: 10px;
}

.user-tab {
    color: var(--secondary-text-color) !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
    transition: background-color 0.3s ease;
}

.MuiTab-root.Mui-selected {
    color: var(--secondary-text-color) !important;
    border-bottom: none;
}

.MuiTabs-indicator {
    height: 3px !important;
    border-radius: 50px !important;
}

pre {
    padding: 20px 0 !important;
}

/* --pages -- */
.palmyra-chart-container-wrapper {
    width: 50%;
}

.chart-container {
    padding: 20px 15%;
}

.config-container {
    color: var(--secondary-text-color);
    padding: 0px 20px;
}

/* definition table head */

.defn-table-head {
    font-size: 20px !important;
}

.defn-import .user-form-container {
    height: auto;
}

.defn-import {
    padding: 0px 20px;
}

.defn-table-column:hover {
    background-color: rgb(252, 252, 252);
}


/* -- Home -- */

.home-card {
    border: rgb(232, 234, 238) 1px solid;
    padding: 10px;
    border-radius: 12px;
    margin-top: 15px;
    /* width: 200px; */
    font-size: 18px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to right bottom, rgba(235, 245, 255, 0.3) 25%, rgba(246, 247, 248, 0.2) 100%);
}

.home-card:hover {
    box-shadow: rgb(204, 230, 255) 0px 2px 8px;
}

.home-card-container {
    margin-top: 25px;
    /* padding: 20px; */
    /* width: 800px; */
    margin-right: auto;
    margin-left: auto;
}

.home-chart {
    /* margin-right: auto;
    margin-left: auto; */
    width: 1000px;
    margin-top: 10px;
}

.chart-doc-para {
    margin-top: 2em;
}